/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 3.5rem tall */
@import url('https://fonts.googleapis.com/css?family=Bungee+Inline|Gloria+Hallelujah|Press+Start+2P|Cabin+Sketch|Monoton|Sedgwick+Ave+Display');
body {
  padding-top: 3.5rem;
}

/*
 * Typography
 */

h1 {
  margin-bottom: 20px;
  padding-bottom: 9px;
  border-bottom: 1px solid #eee;
}

/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 51px;
  bottom: 0;
  left: 0;
  z-index: 1000;
  padding: 20px;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  border-right: 1px solid #eee;
  
}

/* Sidebar navigation */
.sidebar {
  padding-left: 0;
  padding-right: 0;
}

.sidebar .nav {
  margin-bottom: 20px;
}

.sidebar .nav-item {
  width: 100%;
}

.sidebar .nav-item + .nav-item {
  margin-left: 0;
}

.sidebar .nav-link {
  border-radius: 0;
}

/*
 * Dashboard
 */

 /* Placeholders */
.placeholders {
  padding-bottom: 3rem;
}

.placeholder img {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

#dashboardLogo {
  font-family: "Monoton" ;
  font-size: 1.6em;
  font-weight: lighter;
}
.bold{
  font-family: "Monoton";
  font-size:0.9em;
  font-weight: normal;
}
#sideNav{
 /* background: #343a40 !important;
  */
}
#usernameDisplay{
  font-size: 1em;
  color:white !important;
}

#noteForFile{
  color:red;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

legend{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

fieldset{
  margin-left: auto;
  margin-right: auto;
  margin-top:auto;
  margin-bottom:auto;
}

.page-login{
  margin-left: auto;
  margin-right: auto;
  margin-top:auto;
  margin-bottom:auto;
}

.uploadDiv{
  margin-top:5%;
}

.omb_login{
  margin-left: auto;
  margin-right:auto;
}
@media (min-width: 768px) {
    .omb_row-sm-offset-3 div:first-child[class*="col-"] {
        margin-left: 25%;
    }
}

.omb_login .omb_authTitle {
    text-align: center;
	line-height: 300%;
}
	
.omb_login .omb_socialButtons a {
	color: white; 
	opacity:0.9;
}
.omb_login .omb_socialButtons a:hover {
    color: white;
	opacity:1;    	
}
.omb_login .omb_socialButtons .omb_btn-facebook {background: #3b5998;}
.omb_login .omb_socialButtons .omb_btn-twitter {background: #00aced;}
.omb_login .omb_socialButtons .omb_btn-google {background: #c32f10;}


.omb_login .omb_loginOr {
	position: relative;
	font-size: 1.5em;
	color: #aaa;
	margin-top: 1em;
	margin-bottom: 1em;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}
.omb_login .omb_loginOr .omb_hrOr {
	background-color: #cdcdcd;
	height: 1px;
	margin-top: 0px !important;
	margin-bottom: 0px !important;
}
.omb_login .omb_loginOr .omb_spanOr {
	display: block;
	position: absolute;
	left: 50%;
	top: -0.6em;
	margin-left: -1.5em;
	background-color: white;
	width: 3em;
	text-align: center;
}			

.omb_login .omb_loginForm .input-group.i {
	width: 2em;
}
.omb_login .omb_loginForm  .help-block {
    color: red;
}

	
@media (min-width: 768px) {
    .omb_login .omb_forgotPwd {
        text-align: right;
		margin-top:10px;
 	}		
}

.help-block{
    visibility:  hidden;
}

#aboutText{
  margin-top: 6%;
  margin-left: auto;
  margin-right: auto;
  
}

.pg-titl-bdr-btm {
    width: 100px !important;
    height: 3px !important;
    background-color: blue !important;
}