@import url('https://fonts.googleapis.com/css?family=Bungee+Inline|Gloria+Hallelujah|Press+Start+2P|Cabin+Sketch|Monoton|Sedgwick+Ave+Display');

#mainlogo{
  font-family: "Monoton";
  font-size: 1.6em;
}
