
/*@import url('https://fonts.googleapis.com/css?family=Sedgwick+Ave+Display');
*/
@import url('https://fonts.googleapis.com/css?family=Bungee+Inline|Press+Start+2P|Cabin+Sketch|Monoton|Sedgwick+Ave+Display');
/*
setting font-family for the entire webpage
*/
html{
    font-family:'Sedgwick Ave Display';
}

h1{
    font-family:'Monoton', cursive;
    font-size: 4em;
    text-align: center;
    
}

body{
    
    background-color: #BAA898;

}

nav{
    text-align:right;
    color:#848586;
}

a{
    color:#280003;
}